@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    General-Guisan-Strasse 6<br />
    CH-6300 Zug<br />
    <abbr title="Phone">P:</abbr>
    +41-31-311 15 73
</address>

<address>
    <strong>E-Mail:</strong> <a href="mailto:info@example.com">info@example.com</a>
</address>