@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sample ASP.NET Web Application</h1>
    <p class="lead">This is a ASP.NET MVC sample application.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more about ASP.NET &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manage Account</h2>
        <p>
            Manage your user account
        </p>
        <p><a class="btn btn-default" href="/Manage">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About</h2>
        <p>About us.</p>
        <p><a class="btn btn-default" href="/Home/About">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Contact information.</p>
        <p><a class="btn btn-default" href="/Home/Contact">Go &raquo;</a></p>
    </div>
</div>